<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>
<p>
  <strong>E-mail:</strong>
  <%= @employee.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= @employee.role_name %>
</p>
