<div class="container py-3 h-100">
  <div class="card bg-dark shadow">
    <div class="card-header bg-dark m-3 p-3">
       <h3>Editando Usuário</h3>
    </div>
    <div class="card-body">
        <%= render 'form', user: @user %>    
    </div>
    <div class="card-footer">
    
    </div>
  </div>
</div>