<div class="card bg-dark border-light">
    <div class="card-header">
        <h3>EDITANDO CATEGORIA</h3>    
    </div>
    <div class="card-body">
        <%= render 'form', category: @category %>
    </div>
    <div class="card-footer">
    
    </div>
</div>
