
<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<%= link_to 'EDITAR', edit_category_path(@category), class: "btn btn-secondary" %>
<%= link_to 'VOLTAR', categories_path, class: "btn btn-secondary" %>
